:root {
  --background-color: black;
  --title-color: green;
  --default-color: lightgreen;
  --bullet-color: orange;
  --link-color: greenyellow;
  --link-over-color: yellow;
}

html {
  font-family: sans-serif;
  background-color: var(--background-color);
}

h1 {
  color: var(--title-color);
}

p, a, li {
  color: var(--default-color);
  text-decoration: none;
}

a, a:visited {
  color: var(--link-color);
}

p.title {
  color: var(--title-color);
  font-weight: 900;
  font-size: xx-large;
  margin-top: 0px;
}

ul {
  list-style: none; /* Remove default bullets */
}

/* colored bullet. W3C trick: https://www.w3.org/Style/Examples/007/color-bullets.en.html */
ul li::before {
  content: "\25BA";  /* CSS unicode for bullet */
  color: var(--bullet-color); /* bullet color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* space between text and bullet */
  margin-left: -1em; /* left offset of list */
}

a:hover {
  text-decoration: underline;
  color: var(--link-over-color);
}
